@model IEnumerable<Web.ViewModels.Documents.Index.Result>


<div id="content"></div>

@foreach (var result in Model)
{
    <div class="media">
        <div class="media-left">
            <a asp-controller="Documents" asp-action="View" asp-route-documentid="@result.DocumentId">
                <img src="@Url.Action("thumbnail", new {DocumentId = result.DocumentId})" alt="@result.DocumentId" style="width: 100px;" class="thumbnail"/>
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">@result.DocumentId</h4>
            <br/>
            @result.PageCount
            <br/>
            @result.FileSize
        </div>
    </div>
}
@section scripts {
    <script src="https://fb.me/react-0.14.7.js"></script>
    <script src="https://fb.me/react-dom-0.14.7.js"></script>
    <script src="@Url.Content("~/js/document-index.jsx")"></script>
}